.app-tab-group {
    display: flex;
    
    :first-child {
        display: flex;
        gap: 10px;
    };
};

.app-tab-group-column { 
    flex-direction: column;

    ::ng-deep {
        app-tab {
            button {
                width: 100%;
                text-align: right;
            }
        }
    }
}