<div 
    [class]="'border-size-' + size" 
    *ngIf="border == 'true'" 
    data-testid="avatarElement"
>
    <div [class]="'background-size-' + size">
        <div
            [class]="type + '-avatar-size-' + size"
        >
            <img [src]="image || defaultImage" (error)="onErrorImage()" />
        </div>
    </div>
</div>

<div
    [class]="type + '-avatar-size-' + size"
    *ngIf = "border == 'false'"
    data-testid="avatarElement-without-border"
>
    <img [src]="image || defaultImage" (error)="onErrorImage()" />
</div>