@import '../themes/index.scss';

@mixin font-size-xs {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  
  @mixin font-size-sm {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  
  @mixin font-size-md {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  
  @mixin font-size-lg {
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
  }
  
  @mixin font-size-xl {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  
  @mixin font-size-2xl {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }