// Colors 

$primary-color: $primary-1;
$secondary-color: $secondary-1;
$neutral-color: $neutral-7;
$positive-color: $positive-1;
$negative-color: $negative-1;
$warning-color: $warning-1;
$background-merge: $linearGradient-3;
$background-vignette: $radialGradient-1;
$background-shadow: $linearGradient-4;

* {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.015rem;
}

body {
    background-color: $neutral-1;
}