// Colors 

$primary-color: $primary-1;
$secondary-color: $secondary-1;
$neutral-color: $neutral-7;
$positive-color: $positive-1;
$negative-color: $negative-1;
$warning-color: $warning-1;
$background-merge: $linearGradient-3;
$background-vignette: $radialGradient-1;
$background-shadow: $linearGradient-4;
$card-shadow: $box-shadow-1;

* {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.025rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $neutral-1;
    // background-image: url('https://img.freepik.com/fotos-premium/a-imagem-do-cerebro-humano_99433-294.jpg?w=2000');
    // background-position: center;
}