<div class="container">
    <app-tag label="mid"></app-tag>

    <app-dropdown
        [options]="[
            {
                'label': 'Option 1',
                'selected': false,
                'disabled': false,
                'hovered': false,
                'iconType': 'position-mid'
            },
            {
                'label': 'Option 2',
                'selected': false,
                'disabled': false,
                'hovered': false,
                'iconType': 'position-bot'
            },
            {
                'label': 'Option 3',
                'selected': false,
                'disabled': false,
                'hovered': false,
                'iconType': 'position-bot'
            },
            {
                'label': 'Option 4',
                'selected': false,
                'disabled': false,
                'hovered': false,
                'iconType': 'position-bot'
            },
        ]"
    ></app-dropdown>
</div>