<app-search filter="true" size="md"></app-search>

<div>
    <app-button type='primary' size="md" label="Primary" [loading]="true" [expand]="true"></app-button>
    
    <app-button type='secondary' size="md" label="Secondary" [loading]="true"></app-button>
</div>

<div style="display: flex; gap: 10px;">
    <app-tag label="suporte"></app-tag> 
    <app-tag label="adc"></app-tag>
</div>

<div>
    <app-input size="sm" placeholder="Digite algo aqui"></app-input>
    <app-input placeholder="Digite algo aqui" type="email"></app-input>
    <app-input size="md" placeholder="Digite algo aqui" type="password"></app-input>
</div>