<button
    [class]="'app-button-' + type + ' app-button-' + size + ghostColor()"
    [style.width]="expandButton()"
    [class.loading]="loading"
    [class.app-remove-space]="iconType && !!!label"
    [class.right-side-icon]="rightSideIcon"
    [disabled]="disabled"
    (click)="handleClick()"
>
    <span *ngIf="loading" [class]="type + '-loadingAnimation ' + colorType + '-loadingGhost'"></span>
    <app-icon
        *ngIf="iconType && !loading"
        [type]="iconType"
        [size]="iconSize"
        class="icon"
    ></app-icon>
    <span 
        *ngIf="label || loading">{{
            loading ? '' : label
        }}
    </span>
</button>