@import '../../styles/index.scss';

@mixin add-colors($backgroundColor, $color) {
    background-color: $backgroundColor;
    color: $color;
}

@mixin add-gradient-colors($background, $color) {
    background: $background;
    color: $color;
}

@mixin button-parameters(
    $buttonWidth,
    $buttonHeight,
    $paddingTopBottom,
    $paddingLeftRight,
    $fontSize,
    $lineHeight
) {
    width: $buttonWidth;
    height: $buttonHeight;
    padding: $paddingTopBottom $paddingLeftRight;

    span {
        font-size: $fontSize;
        line-height: $lineHeight;
    }
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-weight: 500;
    border: 0;
    color: $neutral-7;
    cursor: pointer;
    border-radius: 5px;
    transition: 300ms;

    &:focus-visible {
        @include add-colors($neutral-4 !important, $neutral-5 !important);
        cursor: not-allowed;

        app-icon {
            ::ng-deep svg {
              fill: $neutral-5;
            }
        }
    }
    
    &:disabled,
    &:disabled:hover,
    &[disabled],
    &[disabled]:hover {
        cursor: not-allowed;
    
        app-icon {
          ::ng-deep svg {
            fill: $neutral-6;
          }
        }
    }

    app-icon {
        ::ng-deep svg {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $neutral-7;
        }
    }
}

.app-button-sm {
    @include button-parameters(100px, 34px, 8px, 20px, 14px, 16px);
}

.app-button-md {
    @include button-parameters(115px, 34px, 8px, 30px, 14px, 16px);
}

.app-button-lg {
    @include button-parameters(100%, 34px, 8px, 40px, 14px, 16px);
}

.app-button-primary {
    background-color: $primary-color;
    border: 0.5px solid $primary-3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    
    
    &:hover {
        background-color: $linearGradient-1;
        border: 0.5px solid $primary-3;
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
    }
    
    &:active {
        background-color: darken($primary-color, 5%);
        border: 0.5px solid darken($primary-3, 5%);
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
    }
    
    &:disabled {
        color: rgba(252, 250, 255, 0.5) !important;
        background-color: $neutral-4;
        border: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
}

.app-button-secondary {
    @include add-colors(transparent, $primary-color);
    border: 1px solid $primary-color;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));

    &:hover {
        @include add-colors(transparentize($primary-color, 0.9), $primary-color);
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
    }

    // &:active {

    // }

    // &:disabled {

    // }
}

.right-side-icon {
    flex-direction: row-reverse;
}
  
.app-remove-space {
    padding: 0 !important;
}
