<div [class]="searchFilter ? 'search-filter-dropdown-container' : 'dropdown-container'">
    <div 
        [ngClass]="{
            'open-select': open && !searchFilter,
            'open-search-filter-md': size === 'md' && open && searchFilter,
            'open-search-filter-lg': size === 'lg' && open && searchFilter,
            'search-filter-md': size === 'md' && !open && searchFilter,
            'search-filter-lg': size === 'lg' && !open && searchFilter
        }"
        class="select-container"
        (click)="setOpen()"
    >
        <span>{{ selectedLabel() }}</span>
        <app-icon type="arrow-down"></app-icon>
    </div>
    
    <div 
        [class]="searchFilter ? 'search-filter-options-container' : 'options-container'" 
        *ngIf="open"
    >
        <div
            [ngClass]="{
                'dropdown-disabled': option.disabled,
                'dropdown-disabled-selected': option.disabled && option.selected,
                'dropdown-item-selected': option.selected && !option.disabled,
                'dropdown-item': !option.selected && !option.disabled
            }"
            *ngFor="let option of options; let index = index"
            (click)="select(option)"
            (mouseenter)="mouseEnter(option)"
            (mouseleave)="mouseLeave(option)"
            [id]="'option' + index"
            >
            <div [class]="searchFilter ? 'search-filter-container' : 'container'">
                <span>{{ option.label }}</span>
                <app-icon
                    *ngIf="option.iconType"
                    [type]="option.iconType"
                ></app-icon>
            </div>
        </div>
    </div>
</div>
