/* You can add global styles to this file, and also import other style files */

@import './app/styles/index.scss';

* {
    margin: 0;
    padding: 0;
    letter-spacing: 1.5%;
}

body {
    background-color: $neutral-1;
    color: $neutral-7;
}